<%layout("layouts/boilerplate.ejs")-%>
<div class="auth-card card">
    <div class="card-body">
        <h3 class="mb-3 text-center">Login to MindBloom</h3>
        <form action="/mindbloom/login" method="post" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="d-grid">
                <button class="btn btn-success">Login</button>
            </div>
        </form>
    </div>
</div>