<nav class="navbar navbar-expand-md navbar-light shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/mindbloom">
      <i class="fa-solid fa-book-open fa-2x me-2"></i>
      <div>
        MindBloom
        <div class="small text-muted">Learn anytime, anywhere</div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/mindbloom">
            <i class="fa-solid fa-house"></i>&nbsp;Home
          </a>
        </li>
        
        <!-- Show login/signup when user is NOT logged in -->
        <% if(!isLoggedIn) { %>
          <li class="nav-item">
            <a class="nav-link" href="/mindbloom/signup">
              <i class="fa-solid fa-user-plus"></i>&nbsp;Sign Up
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mindbloom/login">
              <i class="fa-solid fa-right-to-bracket"></i>&nbsp;Log In
            </a>
          </li>
        <% } %>
        
        <!-- Show user info and logout when logged in -->
        <% if(isLoggedIn) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>&nbsp;
              <% if(currentAdmin) { %>
                <%= currentAdmin.username %> (Admin)
              <% } else if(currentUser) { %>
                <%= currentUser.username %>
              <% } else { %>
                User
              <% } %>
            </a>
            <ul class="dropdown-menu">
              <% if(currentAdmin) { %>
                <li><a class="dropdown-item" href="/mindbloom/courses/new">
                  <i class="fa-solid fa-plus"></i>&nbsp;Add Course
                </a></li>
                <li><hr class="dropdown-divider"></li>
              <% } %>
              <% if(currentUser) { %>
                <li><a class="dropdown-item" href="/mindbloom/profile">
                  <i class="fa-solid fa-user"></i>&nbsp;View Profile
                </a></li>
                <li><hr class="dropdown-divider"></li>
              <% } %>
              <li><a class="dropdown-item" href="/mindbloom/logout">
                <i class="fa-solid fa-right-from-bracket"></i>&nbsp;Log Out
              </a></li>
            </ul>
          </li>
        <% } %>
      </ul>
      <form class="d-flex ms-auto my-2 my-lg-0" role="search" action="/mindbloom/search" method="GET">
        <input class="form-control me-2" type="search" name="q" placeholder="Search courses" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </div>
</nav>